code-sponsor {
  @include card();

  @media #{$desktop} {
    @include centered-block($desktop-view-width + ( $desktop-view-padding * 2 ));
  }

  @media #{$tablet} {
    @include centered-block($tablet-view-width + ( $tablet-view-padding * 2 ));
  }

  @media #{$mobile} {
    display: none;
  }

  background-color: $color-ghost-white;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
