footer-partial {
  @include shadow(-2);

  margin-top: 3rem;
  background-color: $color-layout-gray;
  padding: 1rem;

  ul li {
    & a#author {
      text-decoration: none;
      color: $color-layout-blue-darkest;
    }
    h1, h2, h3, h4, h5, h6 {
      margin: 0;
    }
    margin: 0.5rem;
    font-size: smaller;
  }
}
