footer-partial {
  @include shadow(-2);

  background-color: $color-layout-gray;
  padding: 1rem;

  ul li {
    & a#author {
      text-decoration: none;
      color: $color-layout-blue-darkest;
    }
    margin: 0.5rem;
    font-size: smaller;
  }
}
