header-partial {
  @include shadow(2);

  @media #{$mobile} {
    text-align: center;
  }

  display: block;
  width: 100%;
  padding: 1.5rem;
  background-color: $color-layout-blue-darkest;
  flex: 0 0 auto;
  overflow: hidden;
  box-sizing: border-box;
  color: $color-ghost-white;

  a h1.logo {
    color: $color-ghost-white;
    text-decoration: none;
  }

  & img#riot {
    @include centered-block();
    margin-top: 1rem;
    width: 12rem;
  }

  & ul#social {

    @media #{$desktop}, #{$tablet} {
      margin-top: 1rem;
    }

    @media #{$mobile} {
      margin-top: -4rem;
    }

    li {
      padding: 0.5rem;
      font-size: xx-large;
      a {
        @include transition(color .5s ease);
        &:hover {
          color: $color-pale-blue;
        }
        text-decoration: none;
        color: $color-ghost-white;
      }
    }
  }
}
