header-partial {
  @include shadow(2);

  display: block;
  width: 100%;
  padding: 1.5rem;
  background-color: $color-layout-blue-darkest;
  flex: 0 0 auto;
  overflow: hidden;
  box-sizing: border-box;
  color: $color-ghost-white;

  & ul#social {
    li {
      padding: 0.5rem;
      font-size: xx-large;
      a {
        @include transition(color .5s ease);
        &:hover {
          color: $color-light-gray;
        }
        text-decoration: none;
        color: $color-ghost-white;
      }
    }
  }
}
