header-partial {
  display: block;
  width: 100%;
  padding: 1.5rem;
  background-color: $color-layout-blue-darkest;
  flex: 0 0 auto;
  overflow: hidden;
  box-sizing: border-box;
  color: $color-ghost-white;
}
