.ico {
  display: inline-block;

  &.ico-mat {
    @include text-shadow(2);
  }

  &.ico-left {
    padding-right: $ico-dist;
  }
  &.ico-right {
    padding-left: $ico-dist;
  }
  &.ico-fixed {
    padding-right: $ico-dist;
    padding-left: $ico-dist;
  }
}
