/**
 * Media Constants
 */

$mobile: '(max-width: 767px)';
$tablet: '(min-width: 768px) and (max-width: 1023px)';
$desktop: '(min-width: 1024px)';

$mobile-view-width: auto;
$mobile-view-padding: 0.5rem;

$tablet-view-width: 50rem;
$tablet-view-padding: 1.5rem;

$desktop-view-width: 83rem;
$desktop-view-padding: 3rem;

/**
 * Fonts
 */

$font-logo: 'Zilla Slab Highlight', cursive;
$font-title: 'Julius Sans One', sans-serif;
$font-general: 'Barlow Condensed', sans-serif;

/**
 * Input Pallette
 * Source: http://www.color-hex.com/color-palette/49884
 */

$color-default: #016ecd;
$color-info: #4aafcd;
$color-success: #5ab75c;
$color-warning: #faa632;
$color-danger: #da4f4a;
$color-disabled: #9b9b9b;

/**
 * Layout Pallette
 * Source: http://www.color-hex.com/color-palette/49905
 */

$color-layout-light-gray: #d9ecff;
$color-layout-gray: #b3b3b3;
$color-layout-blue: #5fa2c0;
$color-layout-blue-darker: #4c8199;
$color-layout-blue-darkest: #396173;
$color-layout-default:	#aaaaaa;

/**
 * General Color Pallette
 */

$color-ghost-white: #f8f8ff;
$color-metal-black: #1b1b1b;
$color-light-gray: #d9ecff;
$color-pale-blue: #c3e5ff;
$color-dusk-gray: #e0dcdb;
$color-celestial-gray: #e5e5e5;
$color-light-yellow: #ffe9c0;
$color-pale-yellow: #fff4df;

/**
 * Helper constants
 */

$ico-dist: 0.5rem;
